In [2]:
import pandas as pd
import glob

In [41]:
username_relations = pd.read_csv('03_username_relations.csv')
username_relations.head()

   Unnamed: 0        Teamname Tournament  Username
0           0  Atlanta Hustle  AUDL 2015   A Olsen
1           1  Atlanta Hustle  AUDL 2016   A Olsen
2           2  Atlanta Hustle  AUDL 2017   A Olsen
3           3  Atlanta Hustle  AUDL 2018   A Olsen
4           4  Atlanta Hustle  AUDL 2016  A Taylor

In [8]:
# roster2018 = pd.read_csv('02_roster2018.csv')
# roster2018.head()

   Unnamed: 0      team       PlayerName Tournament          Teamname
0           0  radicals       Adam Drews  AUDL 2018  Madison Radicals
1           1  radicals  Andrew Meshnick  AUDL 2018  Madison Radicals
2           2  radicals       Seth Meyer  AUDL 2018  Madison Radicals
3           3  radicals     Pat Shriwise  AUDL 2018  Madison Radicals
4           4  radicals    Avery Johnson  AUDL 2018  Madison Radicals

In [34]:
# import difflib

# def MatchPlayerName(row):
#     roster = roster2018[roster2018.Teamname==row['Teamname']].PlayerName.unique()
#     matches = difflib.get_close_matches(row['Username'], roster)
#     return matches[0] if len(matches) > 0 else ''
    
# # username_relations['PlayerName'] = username_relations.apply(MatchPlayerName)
# # username_relations['PlayerName'] = username_relations.apply(MatchPlayerName,axis=1)

In [53]:
matched_2018 = pd.read_excel('2018.07.11_2018RostersUAMatchup_Final.xlsx').sort_values(['Teamname','Username']).reset_index(drop=True)
matched_2018.head()

         Teamname  Username        PlayerName
0  Atlanta Hustle   A Olsen      Anders Olsen
1  Atlanta Hustle  A Taylor     Austin Taylor
2  Atlanta Hustle   Allan L  Allan Laviolette
3  Atlanta Hustle    Batson        Sam Batson
4  Atlanta Hustle  Big Mike    Mike Tillotson

In [78]:
matched_2017 = pd.read_csv('audlrosters2017.csv',
                           header=None).rename(columns={1:'Teamname',
                                                        5:'PlayerName',
                                                        6:'Username'})[['Teamname',
                                                                        'PlayerName',
                                                                        'Username']].drop_duplicates().replace('San Francisco Flamethrowers','San Francisco FlameThrowers')
matched_2017.head()

            Teamname      PlayerName  Username
0  Dallas Roughnecks     Kurt Gibson      Kurt
1     Atlanta Hustle  Ryan Archibald    Archie
2     Atlanta Hustle   Evan Boecking  Boecking
3     Atlanta Hustle        JP Burns  JP Burns
4     Atlanta Hustle       Josh Bush      Bush

In [79]:
[i for i in matched_2017.Teamname.unique() if i not in matched_2018.Teamname.unique()]

['Jacksonville Cannons', 'Vancouver Riptide']

In [80]:
[i for i in matched_2018.Teamname.unique() if i not in matched_2017.Teamname.unique()]

['Tampa Bay Cannons']

In [84]:
matched = pd.merge(matched_2017,
                    matched_2018,
                    right_on=['Teamname','Username'],
                    left_on=['Teamname','Username'],
                    how='outer').replace('Nashville Nightwatch','Nashville NightWatch')
matched['PlayerName'] = matched.PlayerName_x.fillna(matched.PlayerName_y) # Use 2017 if conflicting
matched = matched[['Teamname','PlayerName','Username']]
matched.head()

            Teamname      PlayerName  Username
0  Dallas Roughnecks     Kurt Gibson      Kurt
1     Atlanta Hustle  Ryan Archibald    Archie
2     Atlanta Hustle   Evan Boecking  Boecking
3     Atlanta Hustle        JP Burns  JP Burns
4     Atlanta Hustle       Josh Bush      Bush

In [86]:
[i for i in matched.Teamname.unique() if i not in username_relations.Teamname.unique()]

[]

In [85]:
[i for i in username_relations.Teamname.unique() if i not in matched.Teamname.unique()]

['Charlotte Express',
 'Cincinnati Revolution',
 'Rochester Dragons',
 'Salt Lake Lions',
 'Seattle Raptors']

In [87]:
username_playername = pd.merge(username_relations,
                                 matched,
                                left_on=['Teamname','Username'],
                                right_on=['Teamname','Username'],
                                how='left')

# username_playername[username_playername.Tournament=='AUDL 2018']
# username_playername.dropna()
# username_playername[pd.isnull(username_playername.PlayerName)&(username_playername.Teamname=='Atlanta Hustle')]

username_playername.to_csv('04_username_playername_relation.csv')

In [88]:
len(username_playername.dropna()) / len(username_playername)

0.46609951018303686

In [89]:
username_playername
foo = pd.read_csv('05_username_playername_relation.csv')

len(foo.dropna()),len(foo.fillna(username_playername).dropna())

(1896, 1982)

In [91]:
foo[foo.Teamname.str.contains('Nashv')]
foo[foo.Teamname.str.contains('Nashv')].fillna(username_playername)

      Unnamed: 0              Teamname Tournament  Username        PlayerName
1917        1917  Nashville NightWatch  AUDL 2016   A. Hill               NaN
1918        1918  Nashville NightWatch  AUDL 2016  AlexHill               NaN
1919        1919  Nashville NightWatch  AUDL 2018    Alongi     Robert Alongi
1920        1920  Nashville NightWatch  AUDL 2017    Andy B     Andy Barnhart
1921        1921  Nashville NightWatch  AUDL 2016    Avello       Zack Avello
1922        1922  Nashville NightWatch  AUDL 2018    Avello       Zack Avello
1923        1923  Nashville NightWatch  AUDL 2018   Badgett    Justin Badgett
1924        1924  Nashville NightWatch  AUDL 2016     Balch               NaN
1925        1925  Nashville NightWatch  AUDL 2016   Barczak               NaN
1926        1926  Nashville NightWatch  AUDL 2016    Barney               NaN
1927        1927  Nashville NightWatch  AUDL 2015  Barnha A               NaN
1928        1928  Nashville NightWatch  AUDL 2016  Barnhart               NaN
1929        1929  Nashville NightWatch  AUDL 2018     Barry       Peter Barry
1930        1930  Nashville NightWatch  AUDL 2016     Bates               NaN
1931        1931  Nashville NightWatch  AUDL 2015   Bates J               NaN
1932        1932  Nashville NightWatch  AUDL 2017     Ben B       Ben Breault
1933        1933  Nashville NightWatch  AUDL 2017   Blake W     Blake Waldron
1934        1934  Nashville NightWatch  AUDL 2018   Bradham    Robert Bradham
1935        1935  Nashville NightWatch  AUDL 2015    Cain T               NaN
1936        1936  Nashville NightWatch  AUDL 2018  Caldwell     Evan Caldwell
1937        1937  Nashville NightWatch  AUDL 2018   Calhoun     Chris Calhoun
1938        1938  Nashville NightWatch  AUDL 2017     Cam S               NaN
1939        1939  Nashville NightWatch  AUDL 2018    Cam S.     Cameron Snook
1940        1940  Nashville NightWatch  AUDL 2017  Cam Snoo     Cameron Snook
1941        1941  Nashville NightWatch  AUDL 2017  CamSnook               NaN
1942        1942  Nashville NightWatch  AUDL 2016    Carden       John Carden
1943        1943  Nashville NightWatch  AUDL 2017    Carden       John Carden
1944        1944  Nashville NightWatch  AUDL 2018    Carden       John Carden
1945        1945  Nashville NightWatch  AUDL 2015  Carden J               NaN
1946        1946  Nashville NightWatch  AUDL 2017  Carter R        Carter Rae
...          ...                   ...        ...       ...               ...
2031        2031  Nashville NightWatch  AUDL 2018   Russnog    Matt Russnogle
2032        2032  Nashville NightWatch  AUDL 2015  Sansbu B               NaN
2033        2033  Nashville NightWatch  AUDL 2018  Schroder  Justin Schroeder
2034        2034  Nashville NightWatch  AUDL 2018      Seay         Ryan Seay
2035        2035  Nashville NightWatch  AUDL 2016  Sjostrom               NaN
2036        2036  Nashville NightWatch  AUDL 2017    Slater    Matthew Gallin
2037        2037  Nashville NightWatch  AUDL 2018     Snook     Cameron Snook
2038        2038  Nashville NightWatch  AUDL 2016   Stewart               NaN
2039        2039  Nashville NightWatch  AUDL 2015  Strass F               NaN
2040        2040  Nashville NightWatch  AUDL 2016  Strasser               NaN
2041        2041  Nashville NightWatch  AUDL 2018   Stroble           Stroble
2042        2042  Nashville NightWatch  AUDL 2016    Tannon               NaN
2043        2043  Nashville NightWatch  AUDL 2015   Terry K               NaN
2044        2044  Nashville NightWatch  AUDL 2016       Tom               NaN
2045        2045  Nashville NightWatch  AUDL 2015   Trett D               NaN
2046        2046  Nashville NightWatch  AUDL 2016   Venezia               NaN
2047        2047  Nashville NightWatch  AUDL 2016      Volz               NaN
2048        2048  Nashville NightWatch  AUDL 2015  Waldro B               NaN
2049        2049  Nashville NightWatch  AUDL 2016   Waldron               NaN
2050        2050  Nashville NightWatch  AUDL 2016     Welch               NaN
2051        2051  Nashville NightWatch  AUDL 2018    Wilkes   Sullivan Wilkes
2052        2052  Nashville NightWatch  AUDL 2015  Willia E               NaN
2053        2053  Nashville NightWatch  AUDL 2018    Wilson    Garrett Wilson
2054        2054  Nashville NightWatch  AUDL 2016    Wright       Jake Wright
2055        2055  Nashville NightWatch  AUDL 2018    Wright       Jake Wright
2056        2056  Nashville NightWatch  AUDL 2015  Wright J               NaN
2057        2057  Nashville NightWatch  AUDL 2015      Wu V               NaN
2058        2058  Nashville NightWatch  AUDL 2017    Xavier      Xavier Payne
2059        2059  Nashville NightWatch  AUDL 2017  Z Avello  Zechariah Avello
2060        2060  Nashville NightWatch  AUDL 2016  Z.Avello               NaN

[144 rows x 5 columns]